@page "/"
@inject IJSRuntime JS;

<h1>Call JavaScript Function Example</h1>

<button type="button" class="btn btn-primary" @onclick="DrawDiagram">
    Search
</button>

<svg @ref="_renderTo" height="450" width="600"></svg>

@code {
    private ElementReference _renderTo;


    private async Task DrawDiagram()
    {
        var diagramModule = await JS
            .InvokeAsync<IJSObjectReference>("import", "/diagram.js");

        await diagramModule.InvokeVoidAsync("renderDiagram", _renderTo);
    }
}