@using HackTheClimate.Services
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
        <h2>@Title (@((int)(Similarity.Score * 100))%)</h2>
    </div>
    <div class="col-sm">
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <span class="badge badge-danger">+@Similarity.NoMatchA</span>
    </div>
    <div class="col-sm">
        @if (Similarity.Overlap.Count() > 0)
        {
            while (i < Similarity.Overlap.Count() && i < 5)
            {
                <span class="badge badge-success">@Similarity.Overlap.ElementAt(i)</span>
                i++;
            }
            <span class="badge badge-success">+@(Similarity.Overlap.Count() - i)</span>
        }
        else
        {
            <span class="badge badge-danger">0</span>
        }
    </div>
    <div class="col-sm">
        <span class="badge badge-danger">+@Similarity.NoMatchB</span>
    </div>
</div>
@code {
    [Parameter]
    public ListSimilarityResult<string> Similarity { get; set; }

    [Parameter]
    public string Title { get; set; }

    private int i = 0;
}
